<%= form_with(model: service, local: true) do |form| %>

 <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@service.errors.count, "error") %> prohibited
        this service from being saved:
      </h2>
      <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <%= form.label :name %>
    <%= form.select :name , ['Cleaning' , 'Electrician' , 'Plumbing' , 'Paint'] %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :fee %>
    <%= form.number_field :fee %>
  </div>
  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_local_field :time%>
    
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>