<%= form_with(model: service) do |form| %>

 <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@service.errors.count, "error") %> prohibited
        this service from being saved:
      </h2>
      <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field" class="form-group">
    <%= form.label :name %>
    <%= form.select :name , ['Cleaning' , 'Electrician' , 'Plumbing' , 'Paint'] ,class: "form-control"  %>
  </div>

  <div class="field form-group" >
    <%= form.label :location %>
    <%= form.text_field :location , class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :fee %>
    <%= form.number_field :fee , class: "form-control"  %>
  </div>
  <div class="field form-group">
    <%= form.label :start_time %>
    <%= form.datetime_local_field :start , class: "form-control" %>
    
  </div>
  <div class="field form-group">
    <%= form.label :end_time %>
    <%= form.datetime_local_field :time , class: "form-control" %>
    
  </div>
  

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>