<p id="notice"><%= notice %></p>
 <p>
  <strong>Name:</strong>
  <%= @service.name %>
 </p>

<p>
  <strong>Location:</strong>
  <%= @service.location %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @service.fee %>
</p>

<p>
  <strong>Time:</strong>
  <%= @service.time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @service.availability %>
</p>
<% if current_admin_user.seller?%>
  <% if @service.rejected?%>
    <p>
      <%= form_for @service do |t| %>
              <%= t.hidden_field :status, :value=>'pending' %>
              <%= t.submit "Send Reapproval Request" , class: 'btn btn-success text-white'  %>
        <% end %>
    </p>
  <% end %>
<% end%>


<% if current_admin_user.seller?%>
   <%= link_to 'Show Comments', service_comments_path(@service) , class: "btn btn-primary text-white" %>
   <%= link_to 'Back', services_path , class: "btn btn-secondary text-white" %>

<%end%>