

<%= form_with(model: [ @service, @service.comments.build ], local: true) do |form| %>
  
  <div class = "form-group">
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>
  <p>
   <%= form.hidden_field :commenter, value: 'Moderator'%>
  </p>
  <p>
    <%= form.submit class: "btn btn-success" %>
  </p>
<% end %>