<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @service.location %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @service.fee %>
</p>

<p>
  <strong>Time:</strong>
  <%= @service.time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @service.availability %>
</p>
<td><%= link_to 'Book', new_available_service_booking_path(@service) ,  class: "btn btn-success text-white" %></td>
<td><%= link_to 'Show Reviews', service_reviews_path(@service) , class: "btn btn-primary text-white" %></td>


<%= link_to 'Back', available_services_path , class: "btn btn-secondary text-white" %>