<%= form_with(model: [ @service, @service.build_review]) do |form| %>
  <div class = "form-group">
    <%= form.label :rating %><br>
    <%= form.select :rating , ['1' , '2' , '3' , '4' ,'5'] ,  class: "form-control"  %>
  </div>
  
   <div class = "form-group">  
    <%= form.text_area :body ,  class: "form-control"   %>
  </div>
   <%= form.hidden_field :reviewer, value: current_admin_user.name%>
  <div class = "form-group">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>