<h2>Reviews</h2>
<% @rating = generate_avg_rating(@reviews.pluck(:rating)) %>
<% if @rating != false%>
   <strong>Average Rating:</strong>
   <%= @rating.round(1) %>

<% end %>
<% @reviews.each do |review| %>
<div class = "border-top border-secondary">
  <p>
  <strong>Reviewer:</strong>
  <%= review.reviewer %>
</p>

<p>
  <strong>Rating</strong>
  <%= review.rating %>
</p>

<p>
  <strong>Review</strong>
  <%= review.body %>
</p>
</div>
<% end %>

<%= link_to 'Back', service_path(@service) , class: 'btn btn-secondary text-white' %>